.toggleCell{
  width: 1.25em;
  height: 1.25em;
  background-color: black;
  border: 1px dashed rgb(36, 36, 36);
}

.toggleCell.active{
  background-color: white;
}

.toggleCell:hover{
  border: 1px solid red;
}