.toggleCell{
  width: 12px;
  height: 12px;
  border: 1px solid #1d2128;
  /* border-right: 1px solid #090b0c; */
  /* border-bottom: 1px solid #090b0c; */
  background: #15171c;
}

/* .weavingTableContainer>table>tbody>tr>td.toggleCell{
  background-color: white;
} */

.weavingTableContainer>table>tbody>tr>td.toggleCell:hover{
  border: none;
}

.toggleCell.active{
  background-color: #8aa !important;
}

.toggleCell:hover{
  background: #85878c;
}


