.toggleCell{
  width: 12px;
  height: 12px;
  background-color: gray;
  border: 1px dashed rgb(36, 36, 36);
}

.weavingTableContainer>table>tbody>tr>td.toggleCell{
  background-color: white;
}

.weavingTableContainer>table>tbody>tr>td.toggleCell:hover{
  border: none;
}

.toggleCell.active{
  background-color: black !important;
}

.toggleCell:hover{
  border: 1px solid red;
}


