.patternItem{
  color: white;
  font-size: 1rem;
  border-top: 1px dashed #899;
  padding: .75em 1.5em;
  width: 100%;
  cursor: context-menu;
  list-style-type: square;
}

.patternItem:hover{
  background-color: #8aa;
}

.patternItem:last-child{
  border-bottom: 1px dashed #899;
}

.patternItem:active{
  background-color: #9cc;
}